#room2{
    background-image: url(../img/Potionroom.webp);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    
} 

body{
    overflow: hidden;
    margin: 0%;
}

#potionroompuzzle{
    background-image: url(../img/puzzle.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 400px;
    height: 550px;
    margin-left: 200px;
}

#room3{
    margin-top: 500px;
    width: 200px;
    height: 50px;
    background-color: rgb(227, 182, 0);
    border-radius: 10px;
    float:right ;
    
}

#henkia{
    height: 300px;
    width: 270px;
    float: left;
    background-image: url(../img/henk.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 320px;
    
}